{% extends "base.html" %}
{% block content %}
<h1>{{draft.name}}</h1>
<!-- Painikkeet tähän -->
{% if user_logged_in %}
<form method="post" action="{{base_path}}/drafts/{{draft.id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>
<form method="get" action="{{base_path}}/drafts/{{draft.id}}/edit" style="display: inline-block;">
    <button type="submit" class="btn btn-warning">Muokkaa</button>
</form>
{% endif %}



<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>1. Hero:</strong> {{hero.hero1}}</li>
    <li><strong>2. Hero:</strong> {{hero.hero2}}</li>
    <li><strong>3. Hero:</strong> {{hero.hero3}}</li>
    <li><strong>4. Hero:</strong> {{hero.hero4}}</li>
    <li><strong>5. Hero:</strong> {{hero.hero5}}</li>
    <li><strong>Vaikeusaste:</strong> {{hero.vaikeusaste}}</li>
    <li><strong>Suunnitelma:</strong> {{hero.suunnitelma}}</li>
</ul>
<!-- Kuvaus tulee tähän -->
<p>
    {{hero.description}}
    {% endblock %}