{% extends "base.html" %}
{% block content %}
<h1>Dota-arkisto</h1>



<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Hero</th>
            <th>Primary Attribute</th>
            <th>Attack Type</th>
            <th>Primary Role</th>
            <th>Damage Type</th>
        </tr>
    </thead>

    <tbody>
        {% for hero in heroes %}
        <tr>
            <td><a href="{{base_path}}/hero/{{hero.id}}">{{hero.name}}</td>
            <td><label class="label label-danger">{{hero.primaryattribute}}</label></td>
            <td>{{hero.attacktype}}</td>
            <td>{{hero.primaryrole}}</td>
            <td>{{hero.damagetype}}</td>
        </tr>
        
    </tbody>
</table>
{% endblock %}