
{% extends "base.html" %}
{% block content %}
<h1>{{hero.name}}</h1>
<!-- Painikkeet tähän -->
<p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
</p>
<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>Primary Attribute:</strong>{{hero.primaryattribute}}</li>
    <li><strong>Attack Type:</strong>{{hero,attacktype}}</li>
    <li><strong>Primary Role:</strong> {{hero.primaryrole}}</li>
    <li><strong>Damage Type</strong>{{hero.damagetype}}</li>
</ul>
<!-- Kuvaus tulee tähän -->
<p>
    {{hero.description}}
    {% endblock %}