
{% extends "base.html" %}
{% block content %}
<h1>{{hero.name}}</h1>
<!-- Painikkeet tähän -->
<form method="post" action="{{base_path}}/hero/{{hero.id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>
<form method="get" action="{{base_path}}/hero/{{hero.id}}/edit" style="display: inline-block;">
    <button type="submit" class="btn btn-warning">Muokkaa</button>
</form>

<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>Primary Attribute:</strong> {{hero.primaryattribute}}</li>
    <li><strong>Attack Type:</strong> {{hero.attacktype}}</li>
    <li><strong>Primary Role:</strong> {{hero.primaryrole}}</li>
    <li><strong>Damage Type:</strong> {{hero.damagetype}}</li>
</ul>
<!-- Kuvaus tulee tähän -->
<p>
    {{hero.description}}
    {% endblock %}