{% extends "base.html" %}
{% block content %}
  <h1>Dota-arkisto</h1>

  

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Hero</th>
        <th>Primary Attribute</th>
        <th>Attack Type</th>
        <th>Primary Role</th>
        <th>Damage Type</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td><a href="#">Sven</a></td>
        <td><label class="label label-danger">Strength</label></td>
        <td>Melee</td>
        <td>Core</td>
        <td>Physical</td>
      </tr>
      <tr>
        <td><a href="#">Crystal Maiden</a></td>
        <td><label class="label label-primary">Intelligence</label></td>
        <td>Ranged</td>
        <td>Support</td>
        <td>Magic</td>
      </tr>
      <tr>
        <td><a href="#">Shadow Fiend</a></td>
        <td><label class="label label-success">Agility</label></td>
        <td>Ranged</td>
        <td>Core</td>
        <td>Hybrid</td>
      </tr>
    </tbody>
  </table>
{% endblock %}