{% extends "base.html" %}
{% block content %}
  <h1>Sven</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Primary Attribute:</strong> Strength</li>
    <li><strong>Attack Type:</strong> Melee</li>
    <li><strong>Primary Role:</strong> Core</li>
    <li><strong>Damage Type:</strong> Physical</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
Sven the Rogue Knight is a versatile melee strength hero with superior physical power yet is coupled with various abilities that provide utility. He can fulfill various roles, but is often played as a semi-carry due to his high utility even without items.  </p>
{% endblock %}