{% extends "base.html" %}

{% block content %}
{% import "macros/alerts.html" as alerts %}

{% if message is not empty %}
{{alerts.success_message(message)}}
{% endif %}
<h1>Draft-arkisto</h1>
<p>
    <a href="{{base_path}}/drafts/new" class="btn btn-success"> Lisää Draft</a>
</p>


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Laatija: </th>
            <th>Vaikeus: </th>
            <th>Suunnitelma: </th>



        </tr>
    </thead>

    <tbody>
        {% for draft in drafts %}
        <tr>
            <td><a href="{{base_path}}/drafts/{{draft.id}}">{{draft.name}}</td>
            
            <td>{{draft.laatija_id}}</td>
            
            <td>{{draft.vaikeus}}</td>
            <td>{{draft.suunnitelma}}</td>



        </tr>
        {% endfor%}

    </tbody>
</table>
{% endblock %}
