{% extends "base.html" %}
{% block content %}
<h1>{{draft.name}}</h1>
<!-- Painikkeet tähän -->
{% if user_logged_in %}
<form method="post" action="{{base_path}}/drafts/{{draft.id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>
<form method="get" action="{{base_path}}/drafts/{{draft.id}}/edit" style="display: inline-block;">
    <button type="submit" class="btn btn-warning">Muokkaa</button>
</form>
{% endif %}



<!-- Tiedot tulee listana tähän -->

<ul>
    
    <li><strong>Laatija:</strong> {{draft.laatija_id}}</li>
    <li><strong>1. Hero: </strong>{{draft.hero1}}</li>
    <li><strong>2. Hero: </strong>{{draft.hero2}}</li>
    <li><strong>3. Hero: </strong>{{draft.hero3}}</li>
    <li><strong>4. Hero: </strong>{{draft.hero4}}</li>
    <li><strong>5. Hero: </strong>{{draft.hero5}}</li>
    <li><strong>Vaikeusaste:</strong> {{draft.vaikeusaste}}</li>
    <li><strong>Suunnitelma:</strong> {{draft.suunnitelma}}</li>
</ul>
<!-- Kuvaus tulee tähän -->
<p>
    {{draft.description}}
    {% endblock %}