{% extends "base.html" %}
{% block content %}
{% import "macros/alerts.html" as alerts %}

{% if message is not empty %}
{{alerts.success_message(message)}}
{% endif %}
<h1>{{draft.name}}</h1>
<!-- Painikkeet tähän -->
{% if user_logged_in %}
<form method="post" action="{{base_path}}/drafts/{{draft.id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>
<form method="get" action="{{base_path}}/drafts/{{draft.id}}/edit" style="display: inline-block;">
    <button type="submit" class="btn btn-warning">Muokkaa</button>
</form>
{% endif %}



<!-- Tiedot tulee listana tähän -->

<ul>
    
    {% for kayttaja in kayttajat %}
    <li><strong>Laatija:</strong> {{kayttaja.username}}</li>
    {% endfor %}
    <li><strong>Herot:</strong></li>
    {% for hero in heroes %}
    <li><strong>     </strong><a href="{{base_path}}/hero/{{hero.id}}">      {{hero.name}}</a></li>
    {% endfor %}
    
    <li><strong>Vaikeusaste:</strong> {{draft.vaikeus}}</li>
    <li><strong>Suunnitelma:</strong> {{draft.suunnitelma}}</li>
</ul>
<!-- Kuvaus tulee tähän -->
<p>
    {{draft.description}}
    {% endblock %}